.list-hours {
  .list-hours-item {
    font-style: normal;
  }
}

.list-unstyled-item {
  font-style: normal;
  font-family: 'Arial';
}

#img-front-huang {
  width: 50%;
}

#price {
  margin-top: 48px;
}
